<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>aside</filter-name>
        <filter-class>filter.aside</filter-class>
    </filter>
    <filter>
        <filter-name>home</filter-name>
        <filter-class>filter.home</filter-class>
    </filter>
    <filter>
        <filter-name>about</filter-name>
        <filter-class>filter.about</filter-class>
    </filter>
    <filter>
        <filter-name>Find</filter-name>
        <filter-class>filter.Find</filter-class>
    </filter>
    <filter>
        <filter-name>detail</filter-name>
        <filter-class>filter.detail</filter-class>
    </filter>
    <filter>
        <filter-name>footer</filter-name>
        <filter-class>filter.footer</filter-class>
    </filter>
    <filter>
        <filter-name>header</filter-name>
        <filter-class>filter.header</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>header</filter-name>
        <url-pattern>/view/header.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>footer</filter-name>
        <url-pattern>/view/footer.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>detail</filter-name>
        <url-pattern>/view/detail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Find</filter-name>
        <url-pattern>/view/find.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>about</filter-name>
        <url-pattern>/view/about.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>home</filter-name>
        <url-pattern>/view/home.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>aside</filter-name>
        <url-pattern>/view/aside.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>controller.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindController</servlet-name>
        <servlet-class>controller.FindController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/AboutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindController</servlet-name>
        <url-pattern>/FindController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
